::-webkit-scrollbar {
    display: none;
}

header{
    height: 50px;
    width: 100%;
}

body{
    margin: 0;
}

.wrapper{
    width: 100%;
    height: 990px;
    background-color: black;
    position: relative;
}

img{
    width: 100%;
    height: 590px;
}

.num_info_bar{
    width: 40%;
    height: 80px;
    border-radius: 13px;
    background-color: black;
    position: absolute;
    top: 540px;
    left: 30%;
    border: solid #feda60 3px;
    color:
}

.general_info{
    width: 60%;
    height: 270px;
    background-color: black;
    position: absolute;
    left: 5%;
    top: 670px;
    padding: 10px;
}

.general_info{
    text-indent: 40px;
}

p, li{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
    color: #feda60;
    font-size: 25px;
}

li{
    margin-left: 20px;
}

.list p{
    border-bottom: solid #feda60 3px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.list{
    background-color: black;
    width: 25%;
    height: 290px;
    position: absolute;
    right: 5%;
    top: 670px;
}

table{
    padding: 10px;
}

td{
    color: #feda60;
    text-align: center;
    height: 30px;
    width: 200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
}

.cell{
    border-left: solid 1px #feda60;
    border-right: solid 1px #feda60;
    border-collapse: collapse;
}

.general_info, .list {
    border-style: solid;
    border-radius: 7px;
    border-color: #feda60;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
    color: #feda60;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

a, button{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
    font-size: 20px;
    padding-right: 50px;
    font-size: 25px;
    margin-top: 10px;
}

#pointer{
    font-size: 12px;
    vertical-align: middle;
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 50px;
}

.navbar a {
    float: left;
    color: #feda60;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-left: 40px;
}

.dropdown .button {
    border: none;
    outline: none;
    color: #feda60;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    border-radius: 7px;
}

.dropdown-content a {
    float: none;
    color: #feda60;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0c0c0c;
    border-radius: 7px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
